:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	text-decoration: none;
	padding: 0.25em 1em;
	border-radius: 0.5em;
}

form {
	margin-top: 2.5em;
}
